POSTGRES_DB=alos
POSTGRES_USER=alos
POSTGRES_PASSWORD=

ALOS_BACKEND_PORT=8000
GENESIS_PORT=8100
ALOS_WEB_PORT=3000

GENESIS_INTERNAL_TOKEN=

OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_BUCKET=

OTEL_SERVICE_NAME=alos-local
